<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>THANKING PAGE </title>
</head>  
<body style="background-color: cornsilk;">
    <center>
        <% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                   <div class="bg-red-300 text-red-900 p-2 rounded-lg shadow">
                    <li> <%= messages.error[i] %></li>
                   </div>
            <% } %>
          <% } %>      
  </center>
  <h1>
  </h1>
</body>
</html>