<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title><%= title %></title>
</head>
<body>
    <nav class="">
        <center>
        <div class="container flex flex-wrap items-center justify-between mx-auto">
           
            <b>
            <span class="self-center text-xl font-semibold whitespace-nowrap text-black-800">Online Voting Platform</span>
        </b>
        
        </div>
    </center>
    </nav>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <p class="py-1"> MALLIK ONLINE VOTEING APPLICATION</p>
            <p class="py-1">New here? <a class="text-green-600" href="/signup">Sign-up</a></p>
            <p class="py-1">Existing user? <a class="text-green-600" href="/login">Sign-in</a></p>
        </div>
    </div>
</body>
</html>