<div>  
    <p class="text-purple-600"><%= (elections_list.length==0)?"NO Elections Created":"" %></p>
    <ul class="list-none">
        <% for (let i=0; i<elections_list.length; i++) { %>
            <li>
                <div class="flex items-center w-fit my-2 px-2 py-1 rounded">
                    <h2  class="m-1 text-sm text-black-300 ">  <%= elections_list[i].electionName %></h2>
                </div>
            </li>
        <% } %>
    </ul>
</div>
